Package: linux-libc-dev
Source: linux-upstream
Version: 5.15.67-test-project3-kernel3+-14
Architecture: amd64
Maintainer: pking <pking@cmsc421-3.hdihome.com>
Installed-Size: 6241
Provides: linux-kernel-headers
Section: devel
Priority: optional
Multi-Arch: same
Homepage: https://www.kernel.org/
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.
